openapi: 3.1.0
info:
  title: Crossmint Wallets Balances Transactions API
  description: 'Crossmint REST API for creating and managing server-side custodial and

    non-custodial smart wallets across EVM and Solana. Covers wallet creation,

    balances, transactions, transfers, signatures, delegated signers, and

    NFT enumeration. Endpoint inventory drawn from https://docs.crossmint.com.

    '
  version: '2025-06-09'
  contact:
    name: Crossmint Developers
    url: https://docs.crossmint.com
servers:
- url: https://www.crossmint.com/api/2025-06-09
  description: Production
- url: https://staging.crossmint.com/api/2025-06-09
  description: Staging
security:
- ApiKeyAuth: []
tags:
- name: Transactions
paths:
  /wallets/{walletLocator}/transactions:
    get:
      summary: List wallet transactions
      operationId: getWalletTransactions
      tags:
      - Transactions
      parameters:
      - in: path
        name: walletLocator
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Transactions
    post:
      summary: Create transaction
      operationId: createTransaction
      tags:
      - Transactions
      parameters:
      - in: path
        name: walletLocator
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                params:
                  type: object
      responses:
        '200':
          description: Transaction
  /wallets/{walletLocator}/transactions/{transactionId}:
    get:
      summary: Get transaction
      operationId: getTransaction
      tags:
      - Transactions
      parameters:
      - in: path
        name: walletLocator
        required: true
        schema:
          type: string
      - in: path
        name: transactionId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Transaction
  /wallets/{walletLocator}/transactions/{transactionId}/approve:
    post:
      summary: Approve transaction
      operationId: approveTransaction
      tags:
      - Transactions
      parameters:
      - in: path
        name: walletLocator
        required: true
        schema:
          type: string
      - in: path
        name: transactionId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                approvals:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Approved
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
