openapi: 3.1.0
info:
  title: Crossmint Wallets Balances Signatures API
  description: 'Crossmint REST API for creating and managing server-side custodial and

    non-custodial smart wallets across EVM and Solana. Covers wallet creation,

    balances, transactions, transfers, signatures, delegated signers, and

    NFT enumeration. Endpoint inventory drawn from https://docs.crossmint.com.

    '
  version: '2025-06-09'
  contact:
    name: Crossmint Developers
    url: https://docs.crossmint.com
servers:
- url: https://www.crossmint.com/api/2025-06-09
  description: Production
- url: https://staging.crossmint.com/api/2025-06-09
  description: Staging
security:
- ApiKeyAuth: []
tags:
- name: Signatures
paths:
  /wallets/{walletLocator}/signatures:
    get:
      summary: List signatures
      operationId: listSignatures
      tags:
      - Signatures
      parameters:
      - in: path
        name: walletLocator
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Signatures
    post:
      summary: Create signature
      operationId: createSignature
      tags:
      - Signatures
      parameters:
      - in: path
        name: walletLocator
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                params:
                  type: object
      responses:
        '200':
          description: Signature
  /wallets/{walletLocator}/signatures/{signatureId}:
    get:
      summary: Get signature
      operationId: getSignature
      tags:
      - Signatures
      parameters:
      - in: path
        name: walletLocator
        required: true
        schema:
          type: string
      - in: path
        name: signatureId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Signature
  /wallets/{walletLocator}/signatures/{signatureId}/approve:
    post:
      summary: Approve signature
      operationId: approveSignature
      tags:
      - Signatures
      parameters:
      - in: path
        name: walletLocator
        required: true
        schema:
          type: string
      - in: path
        name: signatureId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Approved
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
