openapi: 3.1.0
info:
  title: Crossmint Wallets Balances Signers API
  description: 'Crossmint REST API for creating and managing server-side custodial and

    non-custodial smart wallets across EVM and Solana. Covers wallet creation,

    balances, transactions, transfers, signatures, delegated signers, and

    NFT enumeration. Endpoint inventory drawn from https://docs.crossmint.com.

    '
  version: '2025-06-09'
  contact:
    name: Crossmint Developers
    url: https://docs.crossmint.com
servers:
- url: https://www.crossmint.com/api/2025-06-09
  description: Production
- url: https://staging.crossmint.com/api/2025-06-09
  description: Staging
security:
- ApiKeyAuth: []
tags:
- name: Signers
paths:
  /wallets/{walletLocator}/delegated-signers:
    post:
      summary: Create delegated signer
      operationId: createDelegatedSigner
      tags:
      - Signers
      parameters:
      - in: path
        name: walletLocator
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Signer
  /wallets/{walletLocator}/delegated-signers/{signerId}:
    get:
      summary: Get delegated signer
      operationId: getDelegatedSigner
      tags:
      - Signers
      parameters:
      - in: path
        name: walletLocator
        required: true
        schema:
          type: string
      - in: path
        name: signerId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Signer
    delete:
      summary: Remove delegated signer
      operationId: deleteDelegatedSigner
      tags:
      - Signers
      parameters:
      - in: path
        name: walletLocator
        required: true
        schema:
          type: string
      - in: path
        name: signerId
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
